.table-container1 {
    margin-top: 10px;
    overflow-x: auto;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  .tbn1{
    width: 150px;
    height: 40px;
  }